.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.kakao-window {
    width: 400px;
    height: 650px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
}
.tabs {
    background-color: #322824;
    width: 17%;
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.window-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 25px;
}
.close-button {
    background-color: #FD4646;
    border: none;
    border-radius: 50%;
    width: 10px;
    height: 12px;
    cursor: pointer;
}
.minimize-button {
    background-color: #FDB025;
    border: none;
    border-radius: 50%;
    width: 10px;
    height: 12px;
    cursor: pointer;
}
.resize-button {
    background-color: #2AC132;
    border: none;
    border-radius: 50%;
    width: 10px;
    height: 12px;
    cursor: pointer;
}
.tab-buttons {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    height: 80%;
}
.tab-buttons > button {
    border: none;
    background-color: transparent;
    color: #A59F9D;
    font-size: 10px;
    width: 100%;
    height: 40px;
    cursor: pointer;
}
.setting-buttons {

}
.setting-buttons > button {
    border: none;
    background-color: transparent;
    color: #A59F9D;
    font-size: 8px;
    width: 100%;
    height: 40px;
    cursor: pointer;
}
.selected-button {
    color: white !important;
}
.channel-list {
    display: flex;
    flex-direction: column;
    width: 83%;
}
.channel-list-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 65px;
    padding: 8px 10px;
}
.options {
    display: flex;
    flex-direction: row;
    color: #3C3B3C;
}
.sorting-option {
    width: 100%;
}
.new-chat-option {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    font-size: 10px;
    width: 20px;
}
.search {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}
.search-input {
    background-color: #F5F5F5;
    border-radius: 5px;
    width: 100%;
    padding-left: 7px;
}
.search-input > i {
    font-size: 13px;
}
.search-input > input {
    background-color: #F5F5F5;
    border: none;
}
.search-input > input::placeholder {
    color: #CDCDCD;
}
.channel-list-body {
    overflow: auto;
}
.channel {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
}
.channel:hover {
    background-color: #F6F6F6;
}
.channel-image {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}
.channel-contents {
    width: 210px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.channel-title {
    font-size: 13px;
    font-weight: bold;
    color: #2A2A2A;
    margin-left: 10px;
    display: flex;
}
.channel-participants {
    font-size: 13px;
    font-weight: bold;
    color: #9D9D9D;
    margin-left: 3px;
}
.channel-last-message {
    font-size: 12px;
    color: #7D7D7D;
    margin-top: 2px;
    margin-left: 10px;
}
.channel-info {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}
.last-message-time {
    font-size: 12px;
    color: #ABABAB;
}
.unread-count {
    font-size: 12px;
    color: white;
    background-color: #F54339;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
}
