html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
.container {
  width: 100%;
  height: 100%;
}
.game {
  width: 100%;
  height: 100%;
}
#canvas {
  border: 2px solid black;
}
#beom {
  position: absolute;
  left: 650px;
  top: 30px;
}
